@import "https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/dark/main.css";

#iSpyOutput{
  background-color: rgb(114, 174, 247);
  width: 50rem;
  height: auto;
}
.ispy_div{
  color: beige;
}
#dropdownDiv{
  width: 100px;
  height: auto;
  float:  left;
  margin-right: 10px;
}

#bufferBtn, #clearBtn{
  width: 50px;
  height: 20px;
  float: left;
  padding: 0;
  margin: 0;
}

html,body{
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

#tableDiv{
  height: 300px;
  float: right;
  padding: 0;
  margin: 0;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 900px;
  float: left;
  resize: horizontal;
  overflow: auto;
}
body{
  background-color: #011222;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.labelText {
  padding-left: 5px;
  font-size: 15px;
}

#ispy{
  width: 89%;
  height: 900px;
  margin-left: 0;
  overflow: hidden;
  display: inline-block;
}

form{
  margin-top: 35px;
  height: 500px;
  width: 200px;
  background-color: black;
  color: white;
  float: right;
}

.container {
  display: flex;
}

iframe, .form-container { /* Adjust as needed for desired widths */
  margin: 10px;
}

a{
  display: block;
  text-align: center;
  padding: 4px;
}

a:hover{
  background-color: #111;
}

a:active{
  background-color: #8f39e3;
}

nav{
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}


#button_div{
  position: fixed;
  float: inline-end;
}